/* CSS Document */

* { padding:0px; margin:0px; }

h1 { font-size:180%; }
h2 { font-size:160%; }
h3 { font-size:140%; }
h4 { font-size:130%; }
h5 { font-size:120%; }
h6 { font-size:110%; }


a, a:hover { text-decoration:none; border:none; }
ul, ul li { list-style:none; padding:0px; margin:0px; }
p { color:#808080; font:normal 12px Arial, Helvetica, sans-serif;; line-height:18px; }
.fix { clear: both; padding:10px 0px; }


/*=========================index css for new layout==========================*/

body { 
    font:normal 12px Arial, Helvetica, sans-serif;;
    color:#808080; 	
}
#page {
    width:100%;
   
}
.main-container { width:980px; margin:0px auto; }
.main-container1 {
width: 1050px;
margin: 0px auto;
}
/*.banner { width:980px; margin:0px auto; }*/
.banner { text-align: center;}

#header {
    /*border-bottom: 4px solid #ec3a4a;*/
    width: 100%;
    clear: both;
    height: 120px;
    padding: 40px 0 0;
}
.top-head {
    width: 100%;
    clear: both;
    height: 42px;
    position: fixed;
        background:url(../images/top-head.gif) left top repeat-x;
        z-index: 9999;
}
.top-head ul {
    float:left;
}
.top-head ul li { float: left;}
.top-head ul li a { 
    float: left; 
    display: block; 
    padding: 12px 10px 0px;
    color: #e5e5e5;
}
.top-head ul li span {
float: left;
display: block;
padding: 12px 15px 0px;
color: #e5e5e5;
}
.top-head ul li a:hover { color: #fff;}
#header h1 {     
    /*height:77px;    
    line-height:140px;	
    width:130px;*/
    float: left;
    display: block;
    overflow: hidden;
    margin: 15px 0px 0px;
	border: 3px solid #d9d9d9;
	background-color: #ffffff;
}
#header h1 a {    
    display: block;	
    height:88px;    	
    width:122px;
}

#header .search-box { float: right; width: 500px; position: relative; margin: 25px 0px 0px; }

#header .search-box form input.search {
    border:1px solid #ccc;
    box-shadow: 0px 0px 2px #ccc;
    -moz-box-shadow: 0px 0px 2px #ccc;
    -webkit-box-shadow: 0px 0px 2px #ccc;
    -khtml-box-shadow: 0px 0px 2px #ccc;
    color: #737373;
    float: left;
    font: italic 10px Arial, Helvetica, sans-serif;;
    height: 22px;
    padding: 5px;
    margin: 10px 0px 0px;
    width: 480px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px; /* future proofing */
    -khtml-border-radius: 3px;
    background-color: #fff;
    
}
#header .search-box form input.button {
    background: url(../images/search-icon.gif) no-repeat;
    cursor: pointer;
    float: left;
    height: 22px;
    width: 24px;
    position: absolute;
    right: 15px;
    top: 16px;
    border: 0px none;
}


/*====================Footer=====================*/

#footer {
    clear:both;	
    padding:0px;		
    overflow:hidden;
}
.top-footer,
.bottom-footer { float: left; width: 100%; padding: 10px 0px; }
.top-footer { background-color: #3c3c3c; }
.bottom-footer { /*background-color: #262626;*/ }

#footer ul.footer-menu,
#footer .copyright { 
    float: left;
    width: 100%;
    padding:0px 0px 15px;
    border-bottom: 1px solid #2d476b;
}
#footer ul.footer-menu { margin: 22px 0px 0px; }
#footer ul.footer-menu li { 
    color:#717d8f; 
    font:normal 12px Arial, Helvetica, sans-serif;;
    padding:0px 5px; 
    float: left;
}
#footer ul.footer-menu li a { 
    display: block; 
    float: left;
    color:#717d8f; 
    font:normal 12px Arial, Helvetica, sans-serif;;
    padding:0px; 
}
#footer ul.footer-menu li a:hover {color:#91a4c0;}

#footer .copyright { border: 0px none; padding:15px 0px 0px;  }
#footer .copyright p {  font:normal 12px Arial, Helvetica, sans-serif;; color: #717d8f; }


#footer h3 {
    padding:0px 0px 10px;
    color: #c7c6c6; 
    font: normal 18px Arial, Helvetica, sans-serif;;
    /*text-transform: uppercase;*/
}
#footer p {
   color: #6c8da6;
   line-height: 20px;
}


/*==========================content & banner==========================*/

#banner { 
    /*height:400px; */
    overflow:hidden; 
    clear:both;
    background-color: #d5d5d5;
}
#content { 
    height:100%; 
    padding: 0px;
    clear:both;
    overflow:hidden; 
}
a.more { 
    display: block; 
    padding: 5px 10px; 
    background-color: #f33d4c; 
    color: #fff;
    float: right;
    /*margin: 10px;*/
}
#content h2 {
    /*padding:0px 0px 0px 50px;*/
    margin: 0px 0px 10px;
    color: #797979; 
    font: normal 20px Arial, Helvetica, sans-serif;;
    /*background:url(../images/arrow.gif) 0px 0px no-repeat;*/
}
#content h2 span { 
    color:#0762b3; 
    text-transform: uppercase; 
}

#content ul.top-listing li,
#content ul.product-listing li {
    float: left;
    width: 29.2%;
    margin: 15px 10px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 0 2px 1px #CCCCCC;
    -moz-box-shadow: 0px 0 2px 1px #CCCCCC;
    -webkit-box-shadow:0px 0 2px 1px #CCCCCC;
    height: 180px;
    overflow: hidden;
    text-align: center;
}
#content ul.top-listing1 li {
    float: left;
    width: 12.5%;
    margin: 15px 10px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 0 2px 1px #CCCCCC;
    -moz-box-shadow: 0px 0 2px 1px #CCCCCC;
    -webkit-box-shadow:0px 0 2px 1px #CCCCCC;
    height: 180px;
    overflow: hidden;
    text-align: center;
}
#content ul.product-listing li {
    width: 20.85%;
    height: 230px;
    border: 1px solid #ccc;
    box-shadow: none;
    margin: 15px 9px;
}
#content ul.product-listing li div.pro-info {
    float: left;
    width: 100%;
    height: 90px;
    overflow: hidden;   
}
#content h4,
div.pro-info h4 a {
    color: #343333;
    font-family: 'univers_lt_57_rolexregular';
    font-size: 18px;
    font-weight: normal;
}
#content h4 span {
    font-size: 12px;
    color: #575757;
    font-family: Arial;
}
#content span.price {
    font-size: 12px;
    color: #ec3a4a;
    font-family: Arial;
    display: block;
}
div.pro-info p {
    font-size: 12px;
}
div.pro-info span.pro-code {
    font-size: 11px;
    color: #ccc;
    display: block;
}
div.pro-info span.pro-price {
    font-size: 11px;
    color: #ec3a4a;
    font-weight: bold;
    font-style: italic;
    display: block;
    float: left;
}

ul.list li section.right a.addtocart,
ul.grid li section.right a.addtocart,
ul.list li section.right a.detail,
ul.grid li section.right a.detail {
    display: block;
    float: left;
    margin: 5px 10px 5px 15px;
    padding: 3px 10px;
    background-color: #ff6666;
    color: #fff;
    font:bold 11px Arial;
}
#content ul.product-listing li a.detail,
ul.list li section.right a.detail,
ul.grid li section.right a.detail {
    background-color:#33ccff;
    color: #fff;
}
#content ul.product-listing li img {
    display: block;
    margin: 0px auto;
}

/*================grid/ list==========================*/

.list-style-buttons { clear:both; width: 100%; margin: 15px 0px; }

/** list view **/
ul.list { list-style: none; width: 100%; }
ul.list li { display: block; border: 1px solid #CCCCCC; padding: 10px 15px; }

ul.list li.alt { background: #d7dfe0; }

ul.list li section.left { display: block; float: left; width: 350px; position: relative; padding-left: 20px; }
ul.list li section.right { display: block; float: right; margin-right: 10px; width: 250px; text-align: right; }

ul.list li section.left img.thumb { float: left; margin-right: 10px; }
ul.list li section.left img.featured-banner { position: absolute; left: -18px; top: 35px; }


ul.list li section.left span.meta { color: #93989b; font-weight: normal; font-size: 1.1em; }


ul.list li section.right span.price { 
    color: #EC3A4A;
    display: block;
    float: left;
    font-size: 11px;
    font-style: italic;
    font-weight: bold;
}

/** grid view **/
ul.grid { list-style: none; margin: 0 auto; padding-left: 0px; }
ul.grid li { 
    position: relative;
    border: 1px solid #CCCCCC; 
    display: block; 
    float: left; 
    overflow: hidden;
    padding: 10px; 
    margin-bottom: 20px; 
    box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    text-align: center;
    height: 250px;
    margin: 15px 9px;
    width:23.1%;
}
ul.grid li.third { border: 0; }

ul.grid li section.left { position: relative; }
ul.grid li section.right { /* nothing */ }

ul.grid li section.left img.featured-banner { position: absolute; top: 0; }

ul.grid li section.left span.meta { display: block; color: #93989b; font-weight: normal; font-size: 1.1em; margin-bottom: 7px; }

ul.grid li section.right span.price { font-weight: bold; display: block; margin-bottom: 5px; color: #ad3939; font-size: 1.75em; }

ul.list li section.left h3,
ul.grid li section.left h3 {  
    color: #343333;
    font-family: 'univers_lt_57_rolexregular';
    font-size: 18px;
    font-weight: normal; 
} 
ul.list li section.right a.firstbtn,
ul.grid li section.right a.firstbtn { margin-right: 7px; }

/** clearfix **/
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }
 
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

.imgbanner{
	width: 970px;
	padding: 2px;
	border: 3px solid #d9d9d9;
	margin-top: 10px;
	height: 150px;
}
.prodhead{
	height: 53px;
	width: 980px;
	clear: both;
	background: url(../images/nav-bg.gif) left top repeat-x;
	border-top: 4px solid #ec3a4a;
	/* margin: 0 auto; */
	border-radius: 15px;
	/* padding-left: 17px; */
	/* padding-top: 15px; */
}
.prodhead h3{
	padding:15px;
}
.cart-place {
	float: right;
	display: block;
	position: relative;
}
.cart-place a.cart {
	font-size: 14px;
	color: #e5e5e5;
	/* color: #4d4c4c; */
	text-decoration: none;
	padding: 0px;
	display: block;
	padding: 12px 20px 0px 15px;
	background: url(../images/droparrow.png) right 0px top 17px no-repeat;
	float: left;
	margin-right: 10px;
}
.button_cashier {
	padding: 0;
	/*background-color: #fff;*/
	text-align: center;
	position: relative;
	/*top: -10px;*/
	float:right;
	width: 132px;
	height: 33px;
	background-image: url(../images/btn_gotocashier.png);
	background-position: 0 0;
	margin-top: -6px;
}
.button1 {
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	padding: .7em 1.2em;
	display: inline-block;
	/*width: auto;
	height: auto;*/
	cursor: pointer;
	color: #fff;
	line-height: 1em;
	text-decoration: none;
	border: 0;
}
.button_cashier .button_cashier_text {
	padding: 13px 0;
	padding-right: 25px;
	display: block;
}
/*====================detail page added on 30.4.14=====================*/

#content ul.top-listing,
#content ul.top-listing1,
#content ul.product-listing,
#content .matter-content,
.side-bar ul.sidebar-probox {
    float: left;
    width: 100%;
    padding-bottom: 20px;
}
#content .matter {
    width: 70%;
    padding: 0px 20px 20px 0px;
    border-right: 1px solid #ddd;
}
#content .side-bar {
    width: 26%;
    float: right;
}

.product-view {
    float: left;
    padding: 0px 0px 10px;
    width: 100%;
}

.product-view .product-img-box {
    float: left;
    margin-right: 15px;
    width: 300px;
    height: 280px;
    border: 1px solid #ddd;
}
.product-view .product-shop {
    float: right;
    width: 350px;
}
.product-view p {
    border-bottom: 1px solid #ddd;
    padding: 0px 0px 10px;
    text-align: justify;
}
.product-view a.more-info,
.product_links span a {
    color: #ff0000;
}
.product_links {
    float: left;
    padding: 10px 0px;
    width: 100%;
}
.product_links span {
    display: block;
    width: 100%;
}
.matter table td.color,
.matter table td {
    padding: 5px;
}
.matter table td.color {
        background-color: #ddd;
}
.side-bar .product-box-side {
    margin: 10px 0px;
    float: left;
    padding:0px;
}
.side-bar .product-box-side h3 {
    background-color: #EC3A4A;
    margin: 0px;
    padding: 5px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}
.side-bar ul.sidebar-probox li,
.side-bar ul.sidebar-probox li.color {
    padding: 10px 5px;
    float: left;
    width: 99%;
}
.side-bar ul.sidebar-probox li.color {
    background-color: #f6f6f6;
}
.side-bar ul.sidebar-probox li a.img-sidebar {
    display: block;
    float: left;
    border: 1px solid #ddd;
    padding: 2px;
    margin: 0px 5px 10px 0px;
    background-color: #fff;
}
.side-bar ul.sidebar-probox li img {
    display: block;
    width: 80px;
    height: 60px;
}
.sidebar-pro-content {
    float: right;
    width: 60%;
}
.side-bar ul.sidebar-probox li .sidebar-pro-content a {
    font: normal 11px Arial,Helvetica,sans-serif !important;
    color: #EC3A4A !important;
    float: left;
    display: block;
    margin: 0px !important;
    text-align: left;
}
.side-bar .product-box-side form,
.side-bar .sidebar-content{
    padding: 10px 0px;
    float: left;
    width: 100%;
}
.side-bar .product-box-side form label {
    font-weight: bold;
    float: left;
    width: 100%;
}
.side-bar .product-box-side form select {
    width: 230px;
    float: left;
}
.side-bar .product-box-side a {
    color: #EC3A4A;
    text-align: right;
    display: block;
}
 .side-bar .sidebar-content { border-top: 1px solid #ddd;}
 .side-bar .sidebar-content h6 {
     font-weight: bold;
 }
 
.priceleaders,
 .priceleaders li, 
.productPrice,
.add-to-cart {
     clear: both;
 }
 .ourprice {
     color: #EC3A4A;
     font-size: 14px;
     font-weight: bold;
 }
 .add-to-cart {
    text-align: right;
 }
 .add-to-cart input.qty {
      border: 1px solid #BBBBBB;
    color: #595959;
    font-size: 14px;
    height: 15px;
    margin: 6px 0 0;
    padding: 4px 2px;
    text-align: center;
    width: 30px;
 }
 button.btn-cart {
     border: 0 none;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    height: auto;
    line-height: 1em;
    padding: 0.7em 1.2em;
    text-decoration: none;
    text-transform: uppercase;
    width: auto;
    background-color: #6e99da;
    margin: 10px 0px;
 }
 
 /*=========================added on 5.5.14 cart page ===================*/
 
 #content .matter-content {
    float: left;
    width: 948px;
    padding: 15px;
    border: 1px solid #DBDEE1;
    margin-bottom: 20px;
}
 
 #content .matter-content table {
    width: 100%;
}
 #content .matter-content table tr th,
 #content .matter-content table tr td {
     padding: 8px 5px;
 }
 #content .matter-content table tr th {
     background-color: #C1C1C1;
     color: #000;
     font-weight: bold;
     font-size: 14px;
     text-transform: uppercase;
     text-align: left;
 }
  #content .matter-content table tr td {
    border-bottom: 1px solid #DBDEE1;
  }
  .cart-lastrow-R,
  .cart-lastrow-L {
      font-size: 16px;
      text-align: right;
      color: #000;
  }
  .cart-lastrow-R {
      text-align: left;
  }
 input.input-text {
     padding: 2px 5px;
 } 
input.qty {
    width: 3.5em !important;
}
  #content .matter-content a.continue,
  #content .matter-content a.shoppingcart {
    background-color: #FF6666;
    color: #FFFFFF;
    display: block;
    float: left;
    font: bold 11px Arial;
    padding: 5px 10px;
    margin: 0px;
}

#content .matter-content a.shoppingcart {
    background-color: #1095D4;
    color: #FFFFFF;
    float: right;
}